
.form-control{
    border-color: white;
    width: 260px;
    margin-left: 40px;
}

.border{
    border-radius: 25px;
    margin: 50px;
    width: 344px;
    border-color: rgb(136, 136, 136);
}

p.solid {border-style: solid;
        border-radius: 100%;}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
	font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #000;
}
p {
	font-size: 16px;
	font-weight: 600;
}
.hover:hover {
	cursor: pointer;
}
.main-menu {
	padding-left: 5%;
	padding-right: 5%;
}
.nav-link {
	font-weight: bold;
	color: #000 !important;
	font-size: 18px;
	padding: 20px;
}
.nav-item .active {
	color: #0850f8 !important;
}
.nav-link:hover {
	font-weight: bold;
	color: #0850f8 !important;
}
a {
	text-decoration: none;
	color: #000;
}
.btn-default {
	font-weight: bold;
	border-radius: 10px;
	background-color: #0850f8;
	color: #fff !important;
	border: 1px solid #0850f8;
	padding-left: 25px;
	padding-right: 25px;
}
.btn-default:hover {
	background-color: #ffffff;
	color: #0850f8 !important;
	border: 1px solid #0850f8;
}
.btn-default-2 {
	font-weight: bold;
	border-radius: 10px;
	background-color: #ffffff;
	color: #0850f8 !important;
	border: 1px solid #0850f8;
	padding-left: 25px;
	padding-right: 25px;
}
.btn-default-2:hover {
	background-color: #e9e9e9;
	color: #0850f8!important;
	border: 1px solid #0850f8;
}
.btn-default-3{
  font-weight: bold;
	border-radius: 5px;
	background-color: #ffffff;
	color: #242424 !important;
	border: 2px solid #202020;
	padding-left: 25px;
	padding-right: 25px;
}
.btn-default-3:hover {
	background-color: #242424;
	color: #ffffff !important;
	border: 2px solid #242424;
}
.btn-default-4 {
	font-weight: bold;
	border-radius: 10px;
	background-color: #31b342;
	color: #fff !important;
	border: 1px solid #0850f8;
	padding-left: 25px;
	padding-right: 25px;
}
.btn-default-4:hover {
	background-color: #ffffff;
	color: #0850f8 !important;
	border: 1px solid #0850f8;
}
.banner {
	padding-left: 8%;
	padding-right: 8%;
}
.header-heading {
	font-size: 56px;
	font-weight: 700;
}
ul#banner-list {
	padding-left: 0px;
}
ul#banner-list li {
	display: inline;
	font-size: 12px;
	font-weight: bold;
	padding-right: 8px;
}
.horizontal-line {
	margin-left: 20%;
	margin-right: 20%;
	border-top: 1px solid rgb(43, 43, 43);
}
.card-img {
	padding: 20px;
	background-color: rgb(240, 240, 240);
	width: 80px;
	margin: auto;
	border-radius: 50%;
}
.home-card:hover {
	background-color: #0850f8;
	cursor: pointer;
	color: #fff !important;
}
.home-card:hover > h6 {
	color: #fff !important;
}
.accepting-payment-main {
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 20px;
	border: 1px solid rgb(43, 43, 43);
}
.accepting-payment-right {
	background-color: #0850f8;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 6%;
	padding-right: 6%;
}
.text-small {
	font-size: 14px;
	color: #fcfcfc;
	font-weight: 400;
}
.solution-icon {
	padding-bottom: 40px;
	padding-top: 40px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #E5EFFF;
	width: 130px;
	margin: auto;
	border-radius: 50%;
	border: 1px solid #9c9c9c;
}
.footer{
  padding-top: 30px;
  background-color: #0850f8;
  color: #fff!important;
}
/** Medium devices (tablets, 768px) **/
@media (max-width: 768px) {
	.home-card {
		width: 100% !important;
		margin-top: 20px;
	}
}

.column-width{
    column-width: 100px;
}

.circle{
    border-radius: 100%;
    width: 30px;
    margin-right: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    padding: 6px;
}

.imagewidth{
    width: 500px;
}

.roundbutton{
    border-radius: 25px;
    margin-left: 190px;
    font-weight: 700;
}

.centericon{
    margin: 2%;
}

.positioning1 {

	padding: 7px;
	margin-left: 100px;
}

.positioning2{
	margin-top: 100px;
	margin-left: 144px;    
	flex: 50%; /* Set the width of the sidebar */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */

}

.positioning3{
	margin-left: 130px;
}

.positioning4{
	flex: 50%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
    border:none; 

}
